@import './base.css';

:root {
  --primary-color: #ff8d00;
  --secondary-color: #555555;

  --white: #ffffff;
  --black: #000000;

  --gray-light: #eeeeee;
  --gray-medium: #ccc;
  --gray-lighter: #f5f5f5;

  --black-transparent: rgba(0, 0, 0, 0.5);

  --success-color: green;
}
